/* #app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    Center slide text vertically

    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  body {
    background: #eee;
  }
  
  .swiper {
    width: 100%;
    height: 300px;
    margin: 20px 0;
  }
   */




   {/* .custom-pagination-dot {
    transition: background-color 0.3s ease;
  }
  
  .custom-pagination {
    position: absolute;
    bottom: 20px; Adjust according to your layout 
    left: 50%;
    transform: translateX(-50%);
 */ } 